 <!-- Hero Cover -->
<%= render 'partials/hero' %>

<section id="welcome">
  <div class="container">
    <h2>Fast, customizable vital records solutions</h2>
    <p>Genesis Systems has specialized in vital records software for all levels of state government, hospitals/medical centers, funeral homes, and more for over 30 years! Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</section>

<section id="solutions">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active col-sm-2"><a data-toggle="tab" href="#tab1">
        <span>
          Vital<br>Records
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab2">
        <span>
          Data<br>Hosting
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab3">
        <span>
          Technical<br>Support
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab4">
        <span>
          Accounting<br>Services
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab5">
        <span>
          Private<br>Planes
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab6">
        <span>
          Property<br>Management
        </span></a></li>
    </ul>


    <div class="tab-content">

      <div id="tab1" class="tab-pane show active">
        <h3>Vital Records Software</h3>
          <div class="row">
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-user-md fa-3x product-icon" data-fa-transform="shrink-10 left-.2 down-2 " data-fa-mask="fas fa-file fa-3x" color="#3B6584"></i>
                <h5>Vital Events</h5>
                <p class="product-description">
                  Intuitive software for vital events including <strong>birth, death, marriage, divorce, fetal death,</strong> and <strong>ITOP</strong>.
                </p>
                
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
               <i class="fas fa-cogs fa-3x product-icon" color="#3B6584"></i>
                <h5>Custom Integration</h5>
                <p class="product-description">
                  Solutions tailored to your needs with linking of vital records with Health & Public Health Information. 
                </p>
                
              </div> 
              <button type="button" class="btn btn-warning product-button">Learn more</button> 
            </div>

            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-chart-area fa-3x product-icon" color="#3B6584"></i>
                <h5>Statistics</h5>
                <p class="product-description">
                  Discover and evaluate key trends and hidden problem areas with powerful analytic tools. 
                </p>
                
               </div> 
               <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>

            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                 <i class="fas fa-users fa-3x product-icon" color="#3B6584"></i>
              <h5>Industry Expertise</h5>
              <p class="product-description">
                  You are never alone with continuous product support from industry experts and dedicated vital events staff. 
              </p>
            </div>
             <button type="button" class="btn btn-warning product-button">Learn more</button>
          </div> 

        </div>
      </div>  

      <div id="tab2" class="tab-pane fade">

        <h3>Secure Hosting</h3>
         <div class="row">
          <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-server fa-3x product-icon" color="#3B6584"></i>
                <h5>Enterprise Level Solutions</h5>
                <p class="product-description">
                  Comprehensive hosting services for enterprise level systems with flexibile plans and a 99.9% uptime guarantee. Need help getting set up? Let us create a custom strategy for your infrastructure, systems, disaster recovery design & implementation.
                </p>
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-lock fa-3x product-icon" color="#3B6584"></i>
                <h5>Secure</h5>
                <p class="product-description">
                  State of the art data center protected by multifactor authentication entry points, 24/7 system monitoring with customizable alerts and thresholds, fully redundant systems with failover capacity from production environment, and more. 
                </p>
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-fire-extinguisher fa-3x product-icon" color="#3B6584"></i>
                <h5>Disaster Recovery</h5>
                <p class="product-description">
                   Peace of mind knowing that in the event of a disaster your data processing can continue virtually uninterrupted. Our hosting experts leverage years of experience to meet your infrastructure requirements.
                </p>
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
          </div>  
      </div>
      <div id="tab3" class="tab-pane fade">
        <h3>Techincal support customized for your needs</h3>
          <div class="row">
            <div class="product-box col-sm">
              1 of 2
            </div>
            <div class="product-box col-sm">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab4" class="tab-pane fade">
        <h3>Professional Accounting Services</h3>
          <div class="row">
            <div class="product-box col-sm">
              1 of 2
            </div>
            <div class="product-box col-sm">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab5" class="tab-pane fade">
        <h3>Private planes for lease</h3>
         <div class="row">
            <div class="product-box col-sm">
              1 of 2
            </div>
            <div class="product-box col-sm">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab6" class="tab-pane fade">
        <h3>Enjoy peace of mind with Pristine Property Management</h3>
          <div class="row">
            <div class="product-box col-sm">
              1 of 2
            </div>
            <div class="product-box col-sm">
              2 of 2
            </div>
          </div>  
      </div>
  </div>
</section>


        
<section id="stats">        
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
       <h3 class="display-4">30</h3>
       <p>years of software development</p>
      </div>
      <div class="col-sm-4">
        <h3 class="display-4">86 million</h3>
        <p>U.S. citizens currently supported</p>
      </div>
      <div class="col-sm-4">
        <h3 class="display-4">2500+</h3>
        <p>hospitals supported</p>
      </div>
    </div>
  </div>
</section>



<section id="states">      
<!-- Visible on Normal View   -->
  <div class="container d-none d-sm-block">
    <h4>Our Government Partners</h4>
    <div class="row">
      <div class="col-sm">
        <%= image_tag "CO.png" %>
      </div>
      <div class="col-sm">
        <%= image_tag "GA.png" %>
      </div>
      <div class="col-sm">
        <%= image_tag "TX.png" %>
      </div>
      <div class="col-sm">
        <%= image_tag "DE.png" %>
      </div>
    </div>
  </div>

  <!-- Visibile on Small View -->
  <div class="container d-block d-sm-none">
    <h4>Our Government Partners</h4>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "CO.png", class:"d-block w-100", alt:"First slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "TX.png", class:"d-block w-100", alt:"Second slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "GA.png", class:"d-block w-100", alt:"Third slide" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "DE.png", class:"d-block w-100", alt:"Fourth slide" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>


<section id="client-stories">        
  <div class="container">
    <i class="fas fa-quote-left fa-5x float-left"></i>
    <p class="client-quote">Genesis Systems solved all our problems. Not just our software issues, but also my long over-looked marital problems. In addition, they showed us how to make a really lovely vinaigrette for salads. The secret is fresh lemon zest. Who knew?!</p>
    <i class="fas fa-quote-right fa-5x float-right"></i>
  </div>
</section>