<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Genesis Systems, Inc.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
<!-- Add keywords to description meta tags -->
 	  <meta name="description" content="">
    <%= csrf_meta_tags %>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation -->
    <%= render 'partials/nav' %>

    <!-- Content -->
      <%= yield %>
    <!-- End of Content -->

    <!-- Footer -->
    <%= render 'partials/footer' %>
  </body>
</html>
